<h1>Create new user</h1>
<h3>Enter information</h3>

<form action='/users' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type='text' name='user[email]' placeholder='Email'>
<input type='password' name='user[password]' placeholder='Password'>
<input type='submit' value='Signup'>
</form>
